.button-56 {
    align-items: center;
    border-radius: 10px;
    background-color: #504D9E;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    /* width: 147px; */
    height: 45px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    color: var(--Background-1, #FFF);
    text-align: center;
    font-family: "Montserrat" !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.74%;
    /* 24.758px */
    /*  touch-action: manipulation; */
}

.button-56:after {
    background-color: #2AB8D5;
    border-radius: 10px;
    content: "";
    display: block;
    /* height: 48px; */
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: 5s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    /* transform: translate(0, 0); */
    height: 45px;
}

/* .button-56:active {
    background: #504D9E;
    outline: 0;
}
 */
.button-56:hover {
    outline: 0;
}

.btn-com {
    display: inline-block !important;
    margin-left: 30px;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}