.home-page {
    background: #F4FAFF !important;
}

/*-----------------------cards container --------------------*/
.home-cards-container {
    margin-top: 5rem;
}

.cards-container-header {
    color: #22577A;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 60px */
    text-align: center;
    display: block;
   /*  margin-bottom: 3rem; */
   margin-top: 9rem;
}

.cards-div {
    width: 330px;
    height: 172px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 2rem;
    position: relative;
    margin: 20px;
    transition: transform 0.25s ease-out;
}

.cards-div:hover .cards-content {
    margin-top: 80px;
    margin-left: -35px;
    color: #FFF !important;
}

.cards-div:hover {
    .cards-color-2svg {
        display: none !important;
    }
}

.card-mar {
    margin-top: 30px;
}

.cards-content {
    color: #504D9E;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 39px */
    position: absolute;
    margin-top: 13px;
    margin-left: 5px;
}

.cards-color-svg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 950;
}

.cards-color-2svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    bottom: 0;
    right: 0;
    background-color: #504D9E;
    border-radius: 0 4px 0 32px;

}

.cards-div {
    display: block;
    position: relative;
    /* max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -16px;
        right: -16px;
        background: #504D9E;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(24);
    }
}

/*---------------------------top-integration----------------------------*/
.top-integration-header{
    color: var(--Background-1, #FFF);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
}
.top-integration-header-div{
    margin-top: 4rem;
}

.Top-Integrations-container {
    margin-top: 4rem;
}

.Top-Integrations-header {
    color: #22577A;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 60px */
    text-align: center;
    display: block;
    margin-bottom: 3rem;
}

.Top-Integrations-para {
    color: var(--Background-1, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.demo-wrapper{
    padding: 0px 90px 0px 90px;
}

.svg-div {
    height: 249px;
    flex-shrink: 0;
    margin-top: 2rem;
    display: flex;
    margin-bottom: 3rem;
}

.top-line-svg-1 {
    position: relative;
    height: 290px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    width: 100%;
}

.top-line-svg-2 {
    position: absolute;
    height: 280px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    width: 98%;
}
.top-integ-img-text-div{
    margin-left: -30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.top-integ-img-text-div span{
    color: #FFF;
    font-weight: 600;
    animation-duration: 2s !important;
    animation: 3s linear 1s infinite alternate animatespan;
  animation-delay: 2s; 
    animation-timing-function: ease-out;
}
@keyframes animatespan {
  0%{
   opacity: 0;
  }
  50%{
    opacity: 1;
  }
}
.ms-str{
    margin-left: -20px;
}

.icon-round-div {
    display: flex;
    width: 64.972px;
    height: 64.972px;
    padding: 11px 11.972px 11.972px 11px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 83.298px;
    background: var(--Background-1, #FFF) !important;
    box-shadow: 0px 0px 6.497px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    margin-left: 200px;
    margin-top: 35px;
    background: url(../../assets/abd15\ 1.png) !important;
    background-repeat: no-repeat !important;
    z-index: 950;
}
/*-------------------------------free trial container ----------------------*/
.free-trial-con-header {
    color: #22577A;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 52.5px */
    display: block;
    text-align: center;
   /*  margin-top: 2rem; */
    margin-bottom: 1.5rem;
}

.free-trial-con {
    /* height: 350px; */
    flex-shrink: 0;
    background: #6785BF;
    width: 100% !important;
    max-width: 1216px !important;
    position: relative;
    padding: 50px 0px 20px 0px;
}

.free-trial-con-para {
    color: var(--Background-1, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
    /* 24px */
    width: 915px;
    margin-bottom: 1rem;
}

.free-trial-con-btn {
    display: contents !important;
    margin-top: 0.5rem;
    margin-left: 0 !important;
}

.cont-span {
    color: var(--Background-1, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
    margin-bottom: 2rem !important;
}

.cont-links {
    color: #504D9E;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline !important;
}

.lock-icon-div {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #F4FAFF;
    position: absolute;
    right: 50px;
    top: 30px;
}

.lock-back-img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: url(../../assets/lock-dynamic-color.png);
    position: absolute;
    right: 13px;
    /* box-shadow: 0px 4px 7.7px 0px rgba(0, 0, 0, 0.20); */
}

.girl-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 500px;
    background: #F4FAFF;
    position: absolute;
    left: 50px;
    bottom: 35px;
}

.girl-back-img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: url(../../assets/girl-dynamic-color.png);
    position: absolute;
    right: 13px;
}
/*------------------- benifits container ----------------------*/
.benifits-con {
    /* margin-top: 5rem; */
    padding: 0px 120px 0px 120px;
    position: relative;
}

.benefits-header {
    margin-bottom: 3rem;
}

.benifits-con-cards-text {
    position: absolute;
    color: #504D9E;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 39px */
    margin-top: 15px;
    margin-left: 20px;
}

.benifits-con-cards-para {
    color: #2E2E2E;
    font-family: Montserrat;
   /*  text-align: center; */
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    margin-top: 20px;
}

.benifits-con-btn {
    margin-top: 3rem !important;
    margin-bottom: 3rem;
}
.benifits-con-top-svg{
    position: absolute;
    right: 0;
}
.benifits-con-bottom-svg{
    position: absolute;
    bottom: 0;
    left: 0;
}
.benifits-con-round-top-svg{
    position: absolute;
    right: 15px;
    top: 100px;
    animation-duration: 2s !important;
    animation: 3s linear 1s infinite alternate benifitstopsvg;
  animation-delay: 2s; 
    animation-timing-function: ease-out;
}
.ben-col{
    padding: 0px 30px 0px 35px;
}
@keyframes benifitstopsvg{
    from {
        top: 180px;
      }
      to {
        top: 100px;
      }
}
.benifits-con-round-bottom-svg{
    position: absolute;
    bottom: 100px;
    left: 15px;
    animation-duration: 2s !important;
    animation: 3s linear 1s infinite alternate benifitsbottomsvg;
  animation-delay: 2s; 
    animation-timing-function: ease-out;
}
@keyframes benifitsbottomsvg{
    from {
        bottom: 180px;
      }
      to {
        bottom: 100px;
      }
}
.asked-question-block {
    margin-top: 5rem;
}

/*------------------------ Accordian ----------------------------*/
.accordion {
    --bs-accordion-bg: none !important;
    --bs-accordion-btn-padding-y: 1.5rem !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-bg: none !important;
   /*  width: 80% !important; */
    margin-left: 90px; 
}
.accordion-button{
    font-size: 20px !important;
}
.accordion-item {
    border: 1px solid #504D9E !important;
    border-radius: 10px !important;
    margin-bottom: 20px;
}
/*-------------------------- Top Features ----------------------------*/
.top-fuatures-back-img{
    background: url(../../assets/Vector\ 88.png);
    background-repeat: no-repeat !important;
    background-position: center;
    width: 100% ;
/* height: 900px; */
flex-shrink: 0;
}
.top-features-para{
    color: #2E2E2E;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.top-features-inner-con{
    padding: 50px 90px 200px 90px; 
}
.top-features-inner-span{
    color: #2E2E2E;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
margin-left: 10px;
margin-bottom: 50px;
}
.top-features-inner-span-div{
    margin-bottom: 40px;
    margin-left: 20px;
}
.top-features-left-div{
    margin-top: 60px;
    border-right: 1.5px solid #80BAF1;
    height: 235px;
}
.top-features-img-div{
    padding: 50px 90px 90px 90px;
}
.top-features-right-div{
    margin-top: 60px;
    border-left: 1.5px solid #80BAF1;
    height: 235px;
    /* margin-left: 15px; */
}
/*---------------- frequently asked question section ---------------*/
.frequently-ask-ques-back-block{
    right: -550px !important;
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 1570px;
background: linear-gradient(180deg, #BDEDFF 67.3%, #BEC4FF 100%);
}
.frequently-img{
    width: 500px;
height: 340px;
flex-shrink: 0;
margin-top: -10px;
}
.frequently-ask-ques-section{
    padding: 0px 0px 50px 0px;
}
/* .frequently-ask-ques-section{
    width: 100% !important;
     height: auto !important; 
    overflow: hidden;
}
.top-features-acc-container{
    position: absolute;
    margin-top: 120px;
} */
.accordion-button::after{
    margin-top: -15px !important;
}
.frequently-header{
    margin-top: 3rem;
}
/*--------------------- background pulse animation ------------------------------*/

.circle{
    border-radius: 47%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background-color: #F4FAFF;
    width: 100%;
}
.pulse{
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px #F4FAFF;
    }
    100% {
      box-shadow: 0 0 0 70px #F4FAFF;
    }
  }
  .round-animate-svg{
    right: 460px;
    position: absolute;
    bottom: 47px;
/*     animation-name: round !important; */
  animation-duration: 4s !important;
  animation: 3s linear 1s infinite alternate slidein !important;
  animation-delay: 2s; 
    animation-timing-function: ease-out;
  }
  @keyframes slidein {
    from {
        left: 50px;
      }
      to {
        left: -50px;
      }
  }
  /*----------------------------- background fixed image -------------------------*/
  .quotation-block-1{
	background-image: url(../../assets/aq6\ 2.svg);
    width: 100%;
    height: 100vh !important;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
	/* -webkit-filter: grayscale(100%); */
    /* filter: grayscale(100%); */
	/* clip-path: polygon(0 5%, 100% 0%, 100% 88%, 0 100%); */
transition: 0.5s;}

.home-back-con{
   margin-top: 2rem;
}
.home-con-back-rev-slider{
	margin-top: 5rem;
	color: #adb5bd !important;
	font-weight: 600;
	letter-spacing: 0.1rem;
}
.home-back-inner-span{
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
/*--------------------------------Home button --------------------------------*/
.button-home {
    align-items: center;
    border-radius: 10px;
    background-color: #504D9E;
    border: 2px solid #504D9E;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    z-index: 1 !important;
    /* width: 230px; */
    /* height: 45px; */
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative !important;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    color: var(--Background-1, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.74%;
    margin-left: 30px;
    /* 24.758px */
    /*  touch-action: manipulation; */
}

.button-home:after {
    background-color: #2AB8D5 !important;
    border-radius: 10px;
    content: "";
    display: block;
    /* height: 48px; */
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: 5s ease-out;
    z-index: -1 !important;
}

.button-home:hover:after {
    z-index: -1 !important;
    /* transform: translate(0, 0); */
    height: 45px;
}

.button-home:hover {
    outline: 0;
}
/*--------------------------------------register-now--------------------------*/
.register-now-back-img{
    background: url(../../assets/Vector\ 88.png);
    background-repeat: no-repeat !important;
    background-position: center;
    width: 100% ;
    height:auto;
    /* margin-bottom: -130px; */
flex-shrink: 0; 
padding: 150px 50px 100px 50px;
}
.register-now-header{
    color: #22577A;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */
}
.register-now-para{
    color: #2E2E2E;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
margin-top: 20px;
}
.rigister-input-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.get-in-touch {
    max-width: 800px;
    /* margin: 50px auto; */
    position: relative;
  
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #2E2E2E;;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  /* .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  } */
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #2E2E2E;;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }
  .register-now-img{
    margin-top: 5rem;
    margin-right: 1rem;
  }
  
.spinner{
      /* background: red; */
      border: 2px solid #fff;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      animation: zoom 1s linear 0.5s infinite alternate;
        animation-delay: 0s;
    }
  
  @keyframes zoom {
      0% {
          transform: translate(-50%, -50%) scale(0.2);
          opacity: 0.9;
      }
      50% {
          opacity: 0.9;
      }
      100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.9;
      }
  }
  